main{
	margin-top: 70px;
     width : 100%;
     padding-left: 10px;
     display: flex;
     flex-wrap: wrap;
     position : relative;
}

.container{
	margin-left: 110px;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 775px;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	width: 25%;
	text-align: center;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
	font-weight: bold;
}

ul.tabs li{
	cursor : pointer;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

fieldset{
	width: 749px;
    height: 304px;
}

table>tbody>tr>td>img{
	width: 200px;
	height: 200px;
	padding: 20px;
}

table{
	position : relative;
}

input[type=button]{
	width: 47%;
    padding: 5px;
    margin: 10px;
}
